<div class="masthead clearfix">
  <div class="inner">
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a [routerLink] = "['index']">Home</a></li>
        <li><a [routerLink] = "['features']">Features</a></li>
        <li><a [routerLink] = "['our-mission']">Our Mission</a></li>
        <li><a [routerLink] = "['our-service']">Our Services</a></li>
        <li><a [routerLink] = "['about-us']">About Us</a></li>
        <li><a [routerLink] = "['contact-us']">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
