<div *ngIf="tuition" class="col-sm-4">
  <h4><label for="">Institution: </label> {{tuition.institution}}</h4>
  <h4><label for="">Medium: </label> {{tuition.info.medium}}</h4>
  <h5><label for="">Level: </label> {{tuition.info.level}}</h5>
  <h5><label for="">Subjects: </label> {{tuition.subjects}}</h5>
  <h5><label for="">Days: </label> {{tuition.days}}</h5>
  
</div>
<div class="col-sm-8" *ngIf="selectedElements && selectedElements.length > 0">
      <table class="table">
        <tbody>
          <tr *ngFor="let el of selectedElements; let i=index">
            <td *ngIf="i==0">First Choice</td>
            <td *ngIf="i>=1">Second Choice</td>
            <td>{{el.applicant.teacherInfo.institution}}</td>
            <td>{{el.applicant.teacherInfo.level}}</td>
            <td>{{el.applicant.teacherInfo.sex}}</td>
            <td>{{el.applicant.teacherInfo.age}}</td>
            <td>{{el.salary}}</td>
            <td><button class="btn btn-danger" (click)="remove(el.applicant._id)"><span class="glyphicon glyphicon-remove"></span></button></td>
          </tr>
        </tbody>
      </table>
      <button *ngIf=" selectedElements && selectedElements.length >0 " class="btn btn-success" (click)="submit(content)">Submit Selection</button>
  </div>
<div class="col-sm-8" *ngIf="elements && elements.length > 0">
<table class="table">
  <thead>
    <tr>
      <th>Institution</th>
      <th>Level</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements">
      <td>{{el.applicant.teacherInfo.institution}}</td>
      <td>{{el.applicant.teacherInfo.level}}</td>
      <td>{{el.applicant.teacherInfo.sex}}</td>
      <td>{{el.applicant.teacherInfo.age}}</td>
      <td>{{el.salary}}</td>
      <td>
        <button name="rank" id="rank" class="btn btn-success" (click)="select(el.applicant._id)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <p> Applied to Tuition at <strong>{{offer}} Tk</strong> </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>